[tool.poetry]
name = "onecompiler"
version = "1.1.6"
description = ""
authors = ["pokedim13 <skinxedovich@vk.com>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/pokedim13/OneCompiler"

[tool.poetry.dependencies]
python = "^3.8"
httpx = "^0.24.1"
pydantic = "^1.10.8"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
